/* section */

.section{
    background: #FFF;
}

/* section__details */

.section__details{
    padding: var(--container-padding);
    container-padding: 4em 0px 5em;
    display: grid;
    gap: 3em;
    align-items: center;
}

/* galery */

.galery{
margin-top:-10px;
}

.galery .texts{
    padding-bottom: 1em;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  scroll-snap-align: start;
}

.galery__lists{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    justify-content: center;
}

.galery__list{
    border-radius: 0px;
    overflow: hidden;
    flex: 0 0 calc(50% - 4px);
    width: calc(50% - 4px);

}

/* promocion */

.promocion{
    position: relative;
    padding: var(--container-padding);
}

.promocion .texts{
    padding-top: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

/* items */

.items{
    padding: var(--container-padding);
    --container-padding: 5em 0px;
}

.items__container{
    display: grid;
    text-align: center;
    gap: 1.8em;
    color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-top: 1.5em;
}    
    
.subtitle{
    line-height: 1.2rem;
    font-size: 1.2rem;
    color: var(--white);
    padding-top: 1em;
    padding-bottom: 1em;
}

.subtitle + p{
    font-size: 1em;
    color: var(--gray);
    line-height: 1.7rem;
}

@media (768px < width) {
    
    .section__details{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .section__details .paragraph, .section__details .title, .promocion .title, .promocion .texts{
        text-align: start;
    }

    /* galery */

    .galery__list{    
        flex: 0 0 calc(33.3% - 16px);
        width: calc(33.3% - 16px);
    }
    
    /* promocion */
    
    .promocion .texts{
        position: absolute;
        bottom: 0;
        justify-content: center;
        right: 5vw;
        top: 0;
        width: calc(50% - 5vw);
    }

    .promocion .title{
        font-size: 1.5rem;
    }

    .promocion .paragraph{
        font-size: 1.1rem;
    }
}

@media (1024px < width) {
    
    .subtitle{
        font-size: 1.5rem;
    }

    .subtitle + p{
        font-size: 1.2em;
        line-height: 1.8rem;
    }    
    
    .promocion{
        gap: .5em;
    }

    .promocion .title{
        font-size: 1.8rem;
    }

    .promocion .paragraph{
        font-size: 1.2rem;
    }
}

@media (768px >= width) {   
    
    .items__container{
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
}

.loader {
  width: 10px;
  height: 10px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}