body {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}


.hour{
    margin-top: 1px;
	color: green;
	font-size: 12px;
}

.ratings i{
text-align: center;
	color: #ffda24;
}

html, body { padding: 0; margin: 0; }

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: 100%;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
  
header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.4;
z-index: 1;
}

header video {
    /* display: none; */
}
/*style untuk popup */
#popup {
width:80%;
min-width: 100%;
min-height: 100%;
z-index:1000;
background-color: rgba(0,0,0,0.0);
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
margin:0;
}
#popup:target {
opacity: 0;
visibility: hidden;
}@media {
.popup-container{

}
}
@media {
.popup-container{

}
}
.popup-container {
  justify-content: center;
  align-items: center;
bottom:100px;
width:80%;
margin-left:10%;
margin-right:10%;
position: fixed;
padding:10px 20px;
border-radius: 15px;
background:  rgba(0,0,0,0.0);
color:#fff;
border: 0px solid #292929;
}

.boddbtno {text-align:center;color:#fff !important;list-style:none;margin-left:0px !important;padding:15px !important;font-size:12px;display:inline-block;text-decoration:none !important;clear:both;}
.boddbtno ul {padding:0;margin:0;}
.boddbtno li {list-style:none;display:inline;padding:0;margin:5px;}
.downloadbtno{background:#fff;color: #ec008c; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; !important;padding:10px 15px 10px 15px;font-size:15px;font-weight:700;text-transform:uppercase;text-align:center;border-radius:15px;border:0;letter-spacing:1px;transition: all 0.2s ease-out;text-decoration:none !important;}
.downloadbtno {background:#fff}
.downloadbtno:hover {background:#fff;color: #fc6767;}

.fir-clickcircle {
  border: 2px solid #ec008c;
  height: 45px;
margin: 3px;
  width: 45px;
  border-radius: 15px;
  cursor: pointer;
}

.fir-image-figure {
justify-content: center;
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;

}

.fir-image-figure .caption, .fir-image-figure figcaption {
  padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-family: var(--fir-font-header);
font-weight: 400;
  font-size: 15px;
color: #fff;
}

.fir-image-figure .fig-author-figure-title-nama {
  color: var(--fir-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-left: 15px;
margin-top: 5px;
margin-bottom: 5px;
color: #fff;
}

.fir-image-figure .fig-author-figure-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
color: #fff;
}

.fir-imageover {
  position: relative;
  display: flex;
}

.fir-imageover-color {
  height: 80px;
  width: 80px;
  
  background: var(--fir-blue-twitter-alpha);
  background-image: none;
position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
}

.fir-imageover-image {
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeInFadeOut 2s infinite;
}

.loader {
  display: inline-block;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  position: relative;
}

.loader::before {
  content: '';  
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #ffa8dc;
  border-bottom-color: #ec008c;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
