body {
    padding: 0px;
    margin: 0px;
width: 100%;
height: 100%;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}


.hour{
    margin-top: 1px;
	color: green;
	font-size: 12px;
}

.ratings i{
text-align: center;
	color: #ffda24;
}

html, body { padding: 0; margin: 0; }

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: 100%;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
  
header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.0;
z-index: 1;
}

header video {
    /* display: none; */
}
/*style untuk popup */
#popup {
width:80%;
min-width: 100%;
min-height: 100%;
z-index:1000;
background-color: rgba(0,0,0,0.0);
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
margin:0;
}
#popup:target {
opacity: 0;
visibility: hidden;
}@media {
.popup-container{

}
}
@media {
.popup-container{

}
}
.popup-container {
  justify-content: center;
  align-items: center;
bottom:12%;
width:90%;
margin-left:5%;
margin-right:5%;
position: fixed;
padding: 0px 5px 10px 5px;
border-radius: 15px;
background: rgba(0,0,0,0.6);
color:#fff;
border: 0px solid #292929;
}


.boddbtno {border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;width: 100%;height: auto;margin-top:5px;text-align;center;color:#fff !important;list-style:none;margin-left:0px !important;padding: 5px;!important;font-size:12px;display:inline-block;margin-bottom:10px;text-decoration:none !important;clear:both;}
.boddbtno ul {margin:0;}
.boddbtno li {list-style:none;display:inline;padding:0;margin:5px;}

.downloadbtno{color: #f4f4f4; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; !important;padding:8px 12px 8px 12px;font-size:14px;font-weight:700;text-transform:uppercase;text-align:center;border-radius:10px;border:0;letter-spacing:1px;transition: all 0.2s ease-out;text-decoration:none !important;}
.downloadbtno {background: linear-gradient(45deg, #ec007a, #e6077a)}
.downloadbtno:hover {background: linear-gradient(45deg, #ebebeb, #ebebeb);color: #474747}



.boddbtna {border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;width: 100%;height: auto;margin-top:0px;text-align;center;color:#fff !important;list-style:none;margin-left:0px !important;padding: 5px;!important;font-size:12px;display:inline-block;margin-bottom:0px;text-decoration:none !important;clear:both;}
.boddbtna ul {margin:0;}
.boddbtna li {list-style:none;display:inline;padding:0;margin:5px;}
.downloadbtna{margin-bottom:5px;color: #363636; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; !important;padding:4px 8px 5px 8px;font-size:10px;font-weight:700;text-align:center;border-radius:5px;border:0px solid #f62eff;letter-spacing:0px;transition: all 0.2s ease-out;text-decoration:none !important;}
.downloadbtna {background: linear-gradient(45deg, #fff, #fff)}
.downloadbtna:hover {background: linear-gradient(45deg, #dedede, #dedede);color: #363636}

.downloadbtns{margin-bottom:5px;color: #000; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; !important;padding:1px 8px 0px 8px;font-size:9px;font-weight:700;text-align:center;border-radius:5px;border: 0px solid #575757;letter-spacing:0px;transition: all 0.2s ease-out;text-decoration:none !important;}
.downloadbtns {background:  rgba(255,255,255,0.8)}

.fir-clickcircle {
  border: 2px solid #575757;
  height: 95px;
margin: 1px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
}

.fir-image-figure {
justify-content: center;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
	padding: 10px 0px 10px 0px;
background:  rgba(255,255,255,0.0);
border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fir-image-figure .caption, .fir-image-figure figcaption {
  padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-family: var(--fir-font-header);
font-weight: 400;
  font-size: 15px;
color: #fff;
}

.fir-image-figure .fig-author-figure-title-nama {
  color: var(--fir-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-left: 15px;
margin-top: 5px;
margin-bottom: 5px;
color: #fff;
}

.fir-image-figure .fig-author-figure-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
color: #fff;
}

.fir-imageover {
  position: relative;
  display: flex;
}

.fir-imageover-color {
  height: 80px;
  width: 80px;
  
  background: var(--fir-blue-twitter-alpha);
  background-image: none;
position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
}

.fir-imageover-image {
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeInFadeOut 2s infinite;
}

.navbar1{
	width: 50%;
	height: 30px;
	position: relative;
margin-left:25%;
margin-right:25%;
top:50%;
  padding-top: 20px;
        color: #ff1f92;
background: dlinear-gradient(45deg, #a6a6a6, #8c8c8c);
	z-index: 9;
	display: flex;
	align-items: center;
justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar2{
	width: 145px;
	height: 30px;
	position: absolute;
        color: #000;
	top: 0;
	left: 20px;
  border-radius: 10px;
margin: 20% 0px 0px 0px;
	padding: 10px 10px 5px 5px;
background: rgba(0,0,0,0.4);
	z-index: 9;
	display: flex;
	align-items: center;
}

.navbar3{
	width: 50px;
	height: 50px;
	position: absolute;
        color: #000;
	right: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-bottom: 40px;
	padding: 10px 10px 5px 5px;
background: rgba(0,0,0,0.0);
	z-index: 9;
	display: flex;
	align-items: center;
}

.navbar4{
	width: 80%;
	height: 15%;
	position: fixed;
        color: #000;
	bottom: 15%;
margin-left:5%;
margin-right:5%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin: 0px 0px 0px 0px;
	padding: 10px 10px 5px 5px;
background: rgba(0,0,0,0.4);
	z-index: 9;
	display: flex;
	align-items: center;
}


/* story */
.story {
justify-content: center;
  display: flex;
border: 2px solid #c9c9c9;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 95px;
  border-radius: 8px;
  margin: 3px;
  transition: transform 100ms ease-in;
  cursor: pointer;

}


.story__avatar {
  margin: 10px;
  color: blue;
}

.user__avatar {
  border-radius: 50%;
  width: 10px;
}

.storyy {
  position: absolute;
  bottom: 0px;
  color: white;
}

.storyReel {
  padding: 10px 0;
  display: flex;
}

  .feed {
	align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }

  .story h4 {
    font-size: 14px;
  }

  .story img {
    width: 40px;
  }
